<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListEmpleado</servlet-name>
        <servlet-class>servlet.ListEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataEmpleado</servlet-name>
        <servlet-class>servlet.DataEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmpleado</servlet-name>
        <servlet-class>servlet.DeleteEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmpleado</servlet-name>
        <servlet-class>servlet.UpdateEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmpleado</servlet-name>
        <servlet-class>servlet.InsertEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertEmpleado</servlet-name>
        <url-pattern>/InsertEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmpleado</servlet-name>
        <url-pattern>/ListEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataEmpleado</servlet-name>
        <url-pattern>/DataEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmpleado</servlet-name>
        <url-pattern>/DeleteEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmpleado</servlet-name>
        <url-pattern>/UpdateEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
